@charset "utf-8";

/*reset 시작 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #333;
}

body{
    background-color: #fff;
}

ul{list-style: none;}

a{text-decoration: none;}
a:link{color: #333;}
a:visited{color: #333;}
a:hover{color: #333;}
a:active{color: #333;}



/*reset 끝 */


/*header#header 시작 */
#headLine{
    height: 100px;
/*    border: 1px solid #000;*/
    width: 1200px;
    margin: 0 auto;

    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
}

#headLogo img{
    margin-top: 28px;
}

#gnb{
    margin-top: 28px;
}


#gnb a{
    border: 1px solid #000;
    display: inline-block;
    width: 130px;
    padding: 8px 8px;
    height: 50px;
    line-height: 30px;
    text-align: center;
}

#gnb li.mainLi{
    float: left;
}

#gnb .subMenu{
    display: none;
    position: relative;
    z-index: 5;
}

/*
#gnb li.subLi{
    display: inline-block;
}
*/

#gnb #mainMenu>li>a{
    border-right: none;
    font-weight: bold;
    border: none;
    font-size: 22px;
}

#gnb .subMenu{
/*    border: 1px solid #000;*/
}

#gnb .subMenu a{
    border: none;
    font-size: 19px;
    font-weight: bold;

}

#gnb .subMenu li{
   position: relative;
}

#gnb .subMenu a:hover{
    background-color: #ffa144;
}

#gnb #mainMenu>li>a#border{
/*    border-right: 1px solid #000;*/
}

div#lnbMenu ul#lnb{
    margin-top: 6px;
}

div#lnbMenu ul#lnb li{
    float: left;

}

div#lnbMenu ul#lnb a{
    display: inline-block;
/*    border: 1px solid #000;*/
    width: 70px;
    text-align: center;
    color: #555;
}

div#sns{
    margin-top: 58px;
}

/*header#header 끝 */

/*지앤비 배경 영역 시작 */

div#bgArea{
    position: relative;
}

div#bgDown{
    height: 30px;
    position: absolute;
    z-index: 4;
    border: 1px solid #000;
}




/*지앤비 배경 영역 끝*/









/*div#wrap 시작 */
div#wrap{
    position: relative;
   width: 1200px;
    height: 900px;
/*    border: 1px solid #000;*/
    margin: 0 auto;
    padding: 10px;
}

/*소개헤드 시작 */
div#sogae{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;

    margin-top: 40px;
}

div#sogaeHome a.deco:hover {
    text-decoration: underline;
}

div#sogaeHome #colorDeco{
    color: #cf1218;
}

/*소개헤드 끝 */

/* 공연 포스터 시작 */
div#poster{
    margin-top: 50px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}


div#posterImg{
/*    border: 1px solid #000;*/
    width: 250px;
    text-align: center;
}

div#posterImg a{
    display: inline-block;
    margin-top: 30px;
}

div#posterText{
/*    border: 1px solid #000;*/
    width: 800px;
    line-height: 30px;
    margin-left: 50px;
}
div#posterText h4{
    color: #3d8217;
}

div#posterText h2{
    padding-bottom: 20px;
}

div#posterText hr{
    background-color: #baa151;
}

div#posterText p span{
    color: #cf1218;
}

div#posterText b{
    font-size: 14px;
}

div#posterText p{
    font-size: 14px;
}

div#posterText img{
    position: relative;
    top: -3px;
}

div#posterText table{
    border: 1px solid #eee;
    border-collapse: collapse;
    position: relative;
    left: 85px;
    top: -23px;
}

div#posterText td,th{
    border: 1px solid #ccc;
    width: 125px;
    text-align: center;
    padding: 2px;

}

div#posterText td{
    color: #666;
}

div#posterText th{
    background-color: #f0f0f0;
}


/* 공연 포스터 끝 */

/*div#tabName 영역 시작 */




div#tabName{
    padding: 10px;
}

div#tabName a{
    display: inline-block;
/*    border: 1px solid #000;*/
    margin-left: 50px;
    font-size: 16px;
    font-weight: bold;
}

div#tabName img{
    margin-left: 50px;
}

hr.tabHr{
    padding: 1px;
    background-color: #baa151;
}


/*div#tabName 영역 끝 */

/*div#eventTab 영역 시작 */
div#eventTab{
    padding: 30px;
}

div#borderTab:hover{
    cursor: pointer;
    border: 4px solid #cf1218;
}

div#borderTab{
/*    border: 1px solid #000;*/
    width: 319px;
    height: 395px;
    position: relative;
    z-index: 5;
}

div#eventTab h3{
    margin-bottom: 30px;
}

div#eventTab h3 img{
    position: relative;
    top: -8px;
}

div#eventTab #eventText{
border: 1px solid #ddd;
width: 312px;
    height: 150px;
    position: relative;
    top: -5px;

}

div#eventTab #eventText p{
    font-size: 14px;
/*    border: 1px solid #000;*/
    position: relative;
    top: 50px;
    left: 10px;
    width: 291px;

}

div#eventTab #eventText h4{
    position: relative;
    left: 10px;
    top: 40px;
}

div#eventTab #eventMoney{
    border: 1px solid #ddd;
    position: relative;
    top: -6px;
    width: 312px;
    height: 70px;
    padding: 2px;
    line-height: 30px;
    background-color: #f7f7f7;
}

div#eventTab #eventMoney span{
    color: #cf1218;
    font-weight: bold;
    font-size: 16px;
   display: inline-block;
/*    border: 1px solid #000;*/

}

div#eventTab #eventMoney b{
    font-size: 12px;
/*    border: 1px solid #000;*/
    width: 140px;
    display: inline-block;

}

/*div#eventTab 영역 끝 */

/*div#musicInfo 시작 */
div#musicInfo{
/*    border: 1px solid #000;*/
    text-align: center;
    margin-top: 40px;
    /*작품안내 클릭시 div#wrap height 수정!*/
}

/*div#musicInfo 끝 */

/*div#casting 시작 */
div#casting{
    text-align: center;
    margin-top: 40px;
}

/*div#casting 끝*/

/*div#actor 시작 */
div#actor{
    text-align: center;
    margin-top: 40px;
}


/*div#actor 끝 */

/*div#discount 시작 */
div#discount{
    text-align: center;
    margin-top: 40px;
}

/*div#discount 끝*/



/*멀티탭영역 */

div#eventTab{
/*    display: none;*/
}

div#musicInfo{
    display: none;
}

div#casting{
    display: none;
}

div#actor{
    display: none;
}

div#discount{
    display: none;
}


/*멀티탭영역 끝*/

/*main#main 끝*/





/*div#wrap 끝*/


/*footer#footer 시작 */
#footer {
         background-color: #555555;

}

#footer #footLine{
    width: 1200px;
    margin: 0 auto;
/*    border: 1px solid #000;*/
    height: 120px;

}


#footer #footLnb li{
    float: left;

}

#footer #footLnb a{
    color: #aaa;
    font-size: 14px;
}

#footer #footLnb a#lnb2{
    color: #ffe400;
}

#footer #footLnb p{
    padding-top: 5px;
    font-size: 13px;
    color: #aaa;
}

#footer #copyright{
    padding-top: 10px;
}

#footer #copyright p{
    color: #aaa;
    font-size: 14px;
}

/*footer#footer 끝 */


















